body {
    background-color: #1e1e1e;
}

p, td, h2 {
    color: #cecece;
}

div {
    float: left;
}

.img_dash {
    width: 40px;
    height: 40px;
}

.gold {
    width: 60px;
    text-align: center;
}

.rank {
    width: 20px;
    text-align: center;
}

#goldDiff {
    width: 100%;
}