{% extends 'layout.html' %}
{% block content %}
<div id="dashboard">
    <h1 class="text-start p-4 h1 fw-bold">Dashboard</h1>
    <table class="table">
        {% for row in dashboardData %}
            <tr>
                <td><img class="img_dash" src="static/images/lanes/{{ row['position'] }}.webp"
                         alt="{{ row['position'] }}"/></td>
                <td class="rank"><p class="fs-3">{{ row['rankOrder'] }}</p></td>
                <td><img class="img_dash" src="{{ row['splashOrder'] }}"
                         alt="{{ row['nameOrder'] }}"/></td>
                <td class="gold"><p class="fs-3">{{ row['goldOrder'] }}</p></td>
                <td class="gold"><p class="fs-3">{{ row['goldDiff'] }}</p></td>
                <td class="gold"><p class="fs-3">{{ row['goldChaos'] }}</p></td>
                <td><img class="img_dash" src="{{ row['splashChaos'] }}"
                         alt="{{ row['nameChaos'] }}"/></td>
                <td class="rank"><p class="fs-3">{{ row['rankChaos'] }}</p></td>
                <td><img class="img_dash" src="static/images/lanes/{{ row['position'] }}.webp"
                         alt="{{ row['position'] }}"/></td>
            </tr>
        {% endfor %}
        <tr>
            <td style="background-color:{{ teamColors['left'] }}"></td>
            <td style="background-color:{{ teamColors['left'] }}"></td>
            <td style="background-color:{{ teamColors['left'] }}"></td>
            <td class="gold"><p class="fs-3">{{ teamData['order'] }}</p></td>
            <td class="gold"><p class="fs-3">{{ teamData['diff'] }}</p></td>
            <td class="gold"><p class="fs-3">{{ teamData['chaos'] }}</p></td>
            <td style="background-color:{{ teamColors['right'] }}"></td>
            <td style="background-color:{{ teamColors['right'] }}"></td>
            <td style="background-color:{{ teamColors['right'] }}"></td>
        </tr>
    </table>
</div>
<div id="teamgold">
    <img id="goldDiff" src="{{ url_for('diffImage') }}" alt="Gold Difference">
</div>
{% endblock %}